name: Pipeline CI/CD com Python API

on:
  push:
    branches: [ "main" ] 
  pull_request:
    branches: [ "main" ] 

jobs:
  
  build-and-test:
    runs-on: ubuntu-latest 

    steps:
      - name: 1. Checkout do Código
        uses: actions/checkout@v4

      - name: 2. Configurar Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip' 

      - name: 3. Instalar Dependências (incluindo pytest e gunicorn)
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest # Garante que o framework de teste está instalado

      - name: 4. Executar Testes Unitários (Os 3 tipos)
        
        run: pytest test_app.py
        
      
      - name: 5. Upload do Artefato
        uses: actions/upload-artifact@v4
        with:
          name: api-artifact
          path: . 

  
  deploy:
   
    needs: build-and-test
    runs-on: ubuntu-latest
    environment: Production
    
    steps:
      - name: 1. Acionar Deploy no Render (Webhook)
        
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}